.WrapperImage {
    max-width: 100vw;
    height: auto;
    margin: 40px;
    column-count: 6;
}

@media (max-width: 800px){
    .WrapperImage{
        column-count: 5;
    }
}

@media (max-width: 600px){
    .WrapperImage{
        column-count: 4;
    }
}

@media (max-width: 500px){
    .WrapperImage{
        column-count: 3;
    }
}